<h1>Add a quote</h1>

<%= form_for :quote do |q| %>
  <p>
    <%= q.label :date %><br>
    <%= q.text_field :date %>
  </p>

  <p>
    <%= q.label :author %><br>
    <%= q.text_field :author %>
  </p>

  <p>
    <%= q.label :body %><br>
    <%= q.text_area :body %>
  </p>

  <p>
    <%= q.submit %>
  </p>
<% end %>